<div class="wrapper">
  <app-dashboard-nav
    dashboardLink="/dashboard"
    routerLink="/academic-year"
    routerType="Academic Year"
  ></app-dashboard-nav>
  <div class="container">
    <div class="table-header">
      <p></p>
      <button
        class="btn"
        mat-raised-button
        *ngIf="authService.isAdmin()"
        (click)="openAddYearDialog('300ms', '300ms')"
      >
        <mat-icon>add_circle_outline</mat-icon><span>Academic Year</span>
      </button>
    </div>
    <div class="table-wrapper">
      <table mat-table [dataSource]="academicYear" class="table">
        <!-- No Column -->
        <ng-container matColumnDef="No">
          <th mat-header-cell *matHeaderCellDef>No</th>
          <td mat-cell *matCellDef="let academicYear">{{ academicYear.no }}</td>
        </ng-container>

        <!-- academicYear Column -->
        <ng-container matColumnDef="Academic Year">
          <th mat-header-cell *matHeaderCellDef>Academic Year</th>
          <td mat-cell *matCellDef="let academicYear">
            {{ academicYear.startYear | date : "yyyy" }} -
            {{ academicYear.endYear | date : "yyyy" }}
          </td>
        </ng-container>

        <!-- Student Count Column -->
        <ng-container matColumnDef="Student Count">
          <th mat-header-cell *matHeaderCellDef>Student Count</th>
          <td mat-cell *matCellDef="let academicYear">
            {{ academicYear.students.length }}
          </td>
        </ng-container>

        <!-- Active Year Column -->
        <ng-container matColumnDef="Active Year">
          <th mat-header-cell *matHeaderCellDef>Active Year</th>
          <td mat-cell *matCellDef="let academicYear">
            <span
              [ngClass]="{
                activeYear: academicYear.isActiveYear,
                inActiveYear: !academicYear.isActiveYear
              }"
              >{{ academicYear.isActiveYear ? "Active Year" : "InActive Year" }}</span
            >
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="Action" *ngIf="authService.isAdmin()">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td class="action" mat-cell *matCellDef="let academicYear">
            <button
              class="btn btn-edit"
              (click)="openEditYearDialog('300ms', '300ms', academicYear)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; index as i; columns: displayedColumns"
          [class.odd-row]="i % 2 === 0"
        ></tr>
      </table>
    </div>
    <p class="no-data" *ngIf="noData">{{ noData }}</p>
    <mat-paginator
      class="pagination"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic academicYears"
    >
    </mat-paginator>
  </div>
  <app-footer id="footer" />
</div>
<app-loading-screen
  *ngIf="academicYearService.isLoading || isLoading"
></app-loading-screen>
