.wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    flex-direction: column;
    &.search-container {
      margin-bottom: 6px !important;
    }
    .search-gp {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      .search-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
        .search {
          width: 280px;
          height: 70px;
          border-top-right-radius: 0 !important;
          ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            border-top-right-radius: 0 !important;
          }
          @media screen and (max-width: 480px) {
            width: 200px;
            align-self: flex-end;
          }
          @media screen and (max-width: 360px) {
            width: 180px;
            align-self: flex-end;
          }
        }
        @media screen and (max-width: 939px) {
          justify-content: center;
        }
      }

      .search-btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .btn-delete {
          background-color: var(--error-color);
          color: var(--font-light);
        }
      }

      @media screen and (max-width: 780px) {
        width: 100%;
        align-self: flex-end;
      }
      @media screen and (max-width: 480px) {
        font-size: var(--mini-size) !important;
      }
    }
    .table-header {
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .tb-h-right-gp {
        margin-top: -20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        @media screen and (max-width: 780px) {
          width: 100%;
          justify-content: space-between;
        }
      }
      @media screen and (max-width: 780px) {
        width: 100%;
        flex-direction: column;
        gap: 10px;
      }
      @media screen and (max-width: 340px) {
        .btn span {
          font-size: var(--mini-x-size);
        }
      }
    }

    .table-wrapper {
      padding-top: 10px;
      .table {
        border-radius: var(--border-radius) !important;
        background-color: var(--white-color);
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
        .action {
          button:nth-child(1) {
            margin-right: 8px;
          }
        }
        td {
          span {
            padding: 2px 10px;
            border-radius: var(--border-radius);
            background-color: var(--primary-color);
            color: var(--font-light);
            cursor: pointer;
          }
        }
      }
    }
    .no-data {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
