h3 {
  text-align: center;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  form {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    .input {
      width: 100%;
      margin-bottom: 10px;
      .error {
        font-size: var(--mini-x-size);
      }
    }
    .confirm-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      p {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .btn {
        width: 84px;
        height: 36px;
      }
    }
  }
}

.close {
  background-color: transparent;
  border: none;
  margin-top: 10px;
  color: var(--link-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  width: 30px;
  &:hover {
    border-bottom: 1px solid var(--link-color);
  }
}
