<div class="wrapper">
  <app-dashboard-nav
    dashboardLink="/dashboard"
    routerLink="/admin-list"
    routerType="Admin List"
  />
  <div class="container">
    <div class="table-header">
      <div class="search-gp">
        <app-search-input
          placeholder="Search by name"
          [searchValue]="searchValue"
          (searchCleared)="clearSearch()"
          (searchValueChanged)="searchValue = $event"
        ></app-search-input>
        <button
          class="search-btn"
          (click)="searchAdmin()"
          mat-raised-button
          color="primary"
        >
          Search
        </button>
      </div>
      <div class="tb-h-right-gp">
        <p *ngIf="!authService.isSuperAdmin() && authService.isAdmin()"></p>
        <button
          mat-raised-button
          class="btn"
          (click)="exportExcel()"
          [disabled]="!adminData.data.length"
        >
          <mat-icon>get_app</mat-icon><span>Download</span>
        </button>
        <button
          class="btn"
          mat-raised-button
          routerLink="/admin-add"
          *ngIf="authService.isSuperAdmin()"
        >
          <mat-icon>add_circle_outline</mat-icon><span>New Admin</span>
        </button>
      </div>
    </div>
    <div class="table-wrapper">
      <table mat-table [dataSource]="adminData" class="table" matSort>
        <!-- No Column -->
        <ng-container matColumnDef="No">
          <th mat-header-cell *matHeaderCellDef>No</th>
          <td mat-cell *matCellDef="let admin">{{ admin.no }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Name" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let admin">{{ admin.username }}</td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let admin">{{ admin.email }}</td>
        </ng-container>

        <!-- PhNo Column -->
        <ng-container matColumnDef="PhNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ph No</th>
          <td mat-cell *matCellDef="let admin">
            {{ admin.phNo ? admin.phNo : "---" }}
          </td>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="Role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let admin">{{ admin.role.name }}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="Action" *ngIf="authService.isSuperAdmin()">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td class="action" mat-cell *matCellDef="let admin">
            <button
              class="btn btn-edit"
              [routerLink]="'/admin-edit/' + admin.id"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              (click)="deleteAdmin(admin)"
              class="btn btn-delete"
              [disabled]="
                !authService.isSuperAdmin() ||
                !authService.isAnotherAdmin(admin.role.name, admin.id)
              "
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; index as i; columns: displayedColumns"
          [class.odd-row]="i % 2 === 0"
        ></tr>
      </table>
    </div>
    <p class="no-data" *ngIf="noData">{{ noData }}</p>
    <mat-paginator
      class="pagination"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic admins"
    >
    </mat-paginator>
  </div>

  <app-footer id="footer" />
</div>
<app-loading-screen
  [searching]="searching"
  *ngIf="isLoading"
></app-loading-screen>
